@page

@model FrontEnd.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categories";
}
<div class="page-position">
    <div class="page-head">
        <h1 class="page-title inline">Categories</h1>
        <button type="button" class="btn btn-primary btn-lg inline page-add" data-bs-toggle="modal" data-bs-target="#AddModal">
            Add Category
        </button>
    </div>
    @*Add Modal*@
    <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body modal-center">
                    <form method="post" asp-page-handler="add" class="inline">
                        <div class="modal-question">What is the new category title?</div>
                        <input asp-for="NewCategoryTitle" type="text" class="modal-textbox"> <br />
                        <button type="submit" class="btn btn-success modal-buttons" data-bs-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-secondary modal-buttons" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group">
        @for (int i = 0; i < CategoriesRequests.Categories.Count; i++)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="categories-name">@CategoriesRequests.Categories[i]</span>
                <div>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editModal@(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#0f52fc" class="bi bi-pencil-fill categories-buttons" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                    </button>

                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal@(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#0f52fc" class="bi bi-trash-fill categories-buttons" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </button>
                </div>
                @*Delete Modal*@
                <div class="modal fade" id="deleteModal@(i)" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body modal-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#F9C398" class="bi bi-exclamation-circle modal-icon" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                </svg>
                                <div class="modal-question">Are you sure you want to delete <span class="modal-item">"@CategoriesRequests.Categories[i]"</span>?</div>
                                <div class="modal-text">You won't be able to revert this!</div>
                                <form method="post" asp-page-handler="delete" class="inline">
                                    <input asp-for="CategoryToDelete" value=@CategoriesRequests.Categories[i] hidden="hidden" />
                                    <button type="submit" class="btn btn-danger modal-buttons" data-bs-dismiss="modal">Yes, delete it!</button>
                                </form>
                                <button type="button" class="btn btn-secondary modal-buttons" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*Edit Modal*@
                <div class="modal fade" id="editModal@(i)" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body modal-center">
                                <form method="post" asp-page-handler="edit" class="inline">
                                    <div class="modal-question">Change <span class="modal-item">@CategoriesRequests.Categories[i]</span> into</div>
                                    <input asp-for="NewCategoryTitle" type="text" class="modal-textbox">
                                    <input asp-for="CategoryToEdit" value=@CategoriesRequests.Categories[i] hidden="hidden" /> <br />
                                    <button type="submit" class="btn btn-success modal-buttons" data-bs-dismiss="modal">Save</button>
                                    <button type="button" class="btn btn-secondary modal-buttons" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <br />
        }
    </ul>
</div>

<script type="text/javascript">
    if ('@TempData["Option"]' == "delete") {
        Swal.fire({
            icon: 'success',
            title: '@TempData["CategoryInAlert"] is removed',
            showConfirmButton: false,
            timer: 2000
        })
    }
    else if ('@TempData["Option"]' == "edit") {
        Swal.fire({
            icon: 'success',
            title: '@TempData["CategoryInAlert"] changed into @TempData["NewCategoryInAlert"]',
            showConfirmButton: false,
            timer: 3000
        })
    }
    else if ('@TempData["Option"]' == "newCategoryError") {
        Swal.fire({
            icon: 'error',
            title: '@TempData["NewCategoryInAlert"] is already available, use another title',
            showConfirmButton: false,
            timer: 3000
        })
    }
    else if ('@TempData["Option"]' == "emptyError") {
        Swal.fire({
            icon: 'error',
            title: 'You didn\'t enter category title',
            showConfirmButton: false,
            timer: 3000
        })
    }
    else if ('@TempData["Option"]' == "add") {
        Swal.fire({
            icon: 'success',
            title: '@TempData["NewCategoryInAlert"] is added',
            showConfirmButton: false,
            timer: 3000
        })
    }
</script>



